<ion-view title="Page" hide-nav-bar="true">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/H7y5eaO7RhGk1CeB1N0j_Lines just got smarter!.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div class="button-bar"></div>
    <button class="button button-positive button-block">Get on line</button>
    <button style="font-weight:lighter;font-size:10px;" class="button button-positive button-block button-clear">Private Policy </button>
  </ion-content>
</ion-view>