<ion-view view-title="Restaurant Home">
  <ion-content>
    <div class="text-center account-bg">
      <img class="profile-picture" menu-close src="img/avatar.jpg">
      <h4 class="stable">Restaurant Name</h4>
    </div>

    <div class="list text-left">
      <div class="item item-icon-left">
        <i class="icon ion-android-chat"></i>
        Orders
        <span class="pull-right">20</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-photos"></i>
        Reservations
        <span class="pull-right">25</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-android-people"></i>
        ???
        <span class="pull-right">35</span>
      </div>
      </div>
  </ion-content>
</ion-view>
