<ion-view title="Restaurant Portal" hide-nav-bar="true" style="background-color:#E22020;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 49px;"></div>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/2a7sYTkgSTWHnDCBMTB8_eyequeue.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 57px;"></div>
    <a ui-sref="tabsController.restaurantAccess()" class="button button-positive button-block icon-right ion-android-restaurant">Log-In to Restaurant Portal</a>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
    <button class="button button-positive button-block icon-right ion-android-contact">Log-In to Patron Portal</button>
  </ion-content>
</ion-view>

